[Desktop Entry]
Name=NVIDIAGamescope (Experimental)
Comment=Steam gaming session using the NVIDIA-focused Gamescope fork
Exec=nvidiagamescope-session
TryExec=nvidiagamescope-session
Type=Application
X-GDM-SessionRegisters=true
